result_from_outer_space
main2.py
main3.py
main4.py
main_first.py
run_small.sh
engine_similarity_temp
search_files
raw_search_files_XXX
raw_search_files
translated_search_files
formatted_search_files
embeddings*.npz
similarity_graph.*
go2.sh
run2.sh
similarity_graph_pure.*
similarity_graph_monty.*
similarity_graph_no_monty.*
visualize_embeddings_3d.py
similarity_graph_pure.*
